body{
	margin:0;font-size:12px;
}
h1{
	width:100px;
}
ul,ol,li{
	padding:0;list-style:none;
}
a{
	text-decoration: none;
}
a:active,a:hover,a:focus {
	outline: 0
}
img{
	border:0;
}
form{
	padding:0;
}