body{
	margin:0;font-size:12px;
}
h1{
	width:100px;
}
ul,ol,li{
	padding:0;list-style:none;
}
a{
	text-decoration: none;
}
a:active,a:hover,a:focus {
	outline: 0
}
img{
	border:0;
}
form{
	padding:0;
}
/*清除table 默认样式*/
table{
	border-collapse: separate;
	border-spacing: 0;
}
tr,td,th{
	margin:0;
	padding:0;
}